@import url('https://fonts.googleapis.com/css2?family=Alef:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Alef', sans-serif;
}

.container{
    margin: auto;
    max-width: 950px;
    position: relative;
}

.navbar-container{
    width: 100%;
    height: 88px;
    position: relative;
    display: flex;
}

.navbar{
    width: 100%;
    list-style: none;
    display: flex;
    position: absolute;
    font-size: 18px;
    color: #828282;
    font-family: 'Alef', sans-serif;   
    margin-top: 33.05px; 
}

.navbar li{
    margin: auto;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
}

.home{
    color: black;
}

hr{
    width: 100%;
    margin: auto;
    border: 1px solid #828282;
    background: #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}


.head{
    display: flex;
    max-width: 100%;
    height: 188.5px;
    position: relative;
    margin-bottom: 50px;
}

.name{
    position: absolute;
    display: flex;
    margin: auto;
    max-height: 188.5;
    max-width: 100%;
    margin-top: 39.69px;
    line-height: 59px;
}

.old{
    position: absolute;
    display: block;
    margin-left: 40%;
    margin-top: 94.77px;
    font-size: 18px;
    line-height: 22px;
}

.language{
    position: absolute;
    display: flex;
    font-size: 16px;
    line-height: 20px;
    right: -26px;
    top: 95px;
    rotate: -90deg;
    width: 65px;
    height: 20px;
    white-space: nowrap;
}

.ru{
    color: #828282;
}

.logo{
    display: flex;
    max-width: 943px;
    height: 387px;
    margin-bottom: 104px;
    margin: auto;
    justify-content: center;
}

.about_me{
    max-width: 1445px;
    height: 506px;
    margin: 0 auto;
    background: #F6F6F6;
    position: relative;
    justify-content: center;
}

.about_me-1{
    width: 100%;
    display: flex;
    position: absolute;
    font-size: 34px;
    line-height: 42px;
    margin-top: 120px;
    text-align: center;
    justify-content: center;
}

.about_me p{
    display: flex;
    position: absolute;
    width: 100%;
    height: 218px;
    margin: 181px 0 107px 0;
    text-align: center;
    justify-content: center;
}

.skills{
    height: 610px;
    position: relative;
}

.skil{
    position: absolute;
    display: flex;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    margin-top: 91px;
    width: 100%;
}

.skills p{
    position: absolute;
    display: flex;
    size: 18px;
    line-height: 22p;
    justify-content: center;
    margin-top: 186px;
    width: 100%;
}

.skills ul{
    position: absolute;
    list-style: none;
    display: flex;
    margin-top: 292px;
    width: 100%;
    color: #828282;
    size: 14px;
    line-height: 17px;
    text-align: center;
}

.skills ul li{
    margin: 0 auto;
}

.ph{
    background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
    margin-bottom: 24px;
}

.ai{
    background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
    margin-bottom: 24px;
}

.ae{
    background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
    margin-bottom: 24px;
}

.figma{
    margin-bottom: 24px;
    height: 92px;
}

.star{
    margin-top: 40px;
}

.portfolio{
    position: relative;
    max-width: 1445px;
    height: 2253px;
    background: #f6f6f6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.text{
    display: flex;
    margin-top: 113px;
    margin-bottom: 47px;
    position: absolute;
    font-size: 34px;
    line-height: 42px;
    justify-content: center;
    width: 100%;
}

.img{
    position: absolute;
    display: flex;
    margin-top: 203px;
    margin-left: 250px;
    margin-right: 250px;
}

.proect{
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    margin-top: 757px;
}

.reebok{
    margin-top: 879px;
}

.reebok1{
    margin:1445px 640px 0 640px;
    white-space: nowrap;
}

.kam{
    margin-top: 1567px;
}

.kam1{
    margin-top: 2135px;
}

.c{
    display: flex;
    justify-content: center;
}

.footer{
    position: relative;
    height: 622px;
    margin: auto;
    display: flex;
    margin: auto;
}

.footer p{
    display: flex;
    position: absolute;
    margin-top: 177px;
    white-space: nowrap;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    justify-content: center;
    width: 100%;
}

button{
    position: absolute;
    height: 42px;
    width: 180px;
    background: black;
    color: white;
    border-radius: 21px;
    margin-top: 251px;
    cursor: pointer;
}

.button1{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contic{
    width: 40px;
}

.contic1{
    margin-top: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contic2{
    display: flex;
    width: 100px;
    display: flex;
    justify-content: center;
}

.footer-text{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 464px;
    size: 14px;
    color: #828282;
}